* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  scroll-behavior: smooth;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.back_to_top {
  
  display: none;
}

.back_to_top:hover {
  background: #e9ebec;
}

.back_to_top-show {
  position: fixed;
  bottom: 50px;
  right: 25px;
  z-index: 9999;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #f5f5f5;
  opacity: 0.7;
  color: #173e43;
  cursor: pointer;
  border-radius: 2px;
  display: block;
}